<!DOCTYPE html>

<html lang="en" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>8bit Sounds</title>
    <script src="http://code.angularjs.org/1.2.0rc1/angular.min.js"></script>
    <script src="8bit.js"></script>
    <script>
        var app = angular.module('app', []);
        app.controller('AppController', function($scope) {
            var gameMusic = new EightBit();

            gameMusic.setTimeSignature(2, 2);
            gameMusic.setTempo(200);

            var rightHand = gameMusic.createInstrument('square'),
                leftHand = gameMusic.createInstrument('triangle');

            /**
             * Intro
             */
            // Bar 1
            rightHand.note('E5, F#4', 'quarter')
                .note('E5, F#4', 'quarter')
                .rest('quarter')
                .note('E5, F#4', 'quarter');

            leftHand.note('D3', 'quarter')
                .note('D3', 'quarter')
                .rest('quarter')
                .note('D3', 'quarter');

            // Bar2
            rightHand.rest('quarter')
                .note('C5, F#4', 'quarter')
                .note('E5, F#4', 'quarter')
                .rest('quarter');

            leftHand.rest('quarter')
                .note('D3', 'quarter')
                .note('D3', 'quarter')
                .rest('quarter');

            // Bar 3
            rightHand.note('G5, B4, G4', 'quarter')
                .rest('quarter')
                .rest('half');

            leftHand.rest('whole');

            // Bar 4
            rightHand.note('G4', 'quarter')
                .rest('quarter')
                .rest('half');

            leftHand.note('G3', 'quarter')
                .rest('quarter')
                .rest('half');

            // Bar 5
            rightHand.repeatStart()
                .note('C5, E4', 'quarter')
                .rest('quarter')
                .rest('quarter')
                .note('G4, C3', 'quarter');

            leftHand.repeatStart()
                .note('C5, E4', 'quarter')
                .rest('quarter')
                .rest('quarter')
                .note('G4, C3', 'quarter');

            // bar 6
            rightHand.rest('half')
                .note('E4, G3', 'quarter')
                .rest('quarter');

            leftHand.rest('half')
                .note('E4, G3', 'quarter')
                .rest('quarter');

            // Bar 7
            rightHand.rest('quarter')
                .note('A4, C3', 'quarter')
                .rest('quarter')
                .note('B4, D4', 'quarter');

            leftHand.rest('quarter')
                .note('A4, C3', 'quarter')
                .rest('quarter')
                .note('B4, D4', 'quarter');

            // Bar 8
            rightHand.rest('quarter')
                .note('Bb4, Db4', 'quarter')
                .note('A4, C3', 'quarter')
                .rest('quarter');

            leftHand.rest('quarter')
                .note('Bb4, Db4', 'quarter')
                .note('A4, C3', 'quarter')
                .rest('quarter');

            // Bar 9
            rightHand.note('G4, C4', 'tripletHalf')
                .note('E5, G4', 'tripletHalf')
                .note('G5, B4', 'tripletHalf');

            leftHand.note('G4, C4', 'tripletHalf')
                .note('E5, G4', 'tripletHalf')
                .note('G5, B4', 'tripletHalf');

            // Bar 10
            rightHand.note('A5, C5', 'quarter')
                .rest('quarter')
                .note('F5, A4', 'quarter')
                .note('G5, B4', 'quarter');

            leftHand.note('A5, C5', 'quarter')
                .rest('quarter')
                .note('F5, A4', 'quarter')
                .note('G5, B4', 'quarter');

            // Bar 11
            rightHand.rest('quarter')
                .note('E5, G4', 'quarter')
                .rest('quarter')
                .note('C5, E4', 'quarter');

            leftHand.rest('quarter')
                .note('E5, G4', 'quarter')
                .rest('quarter')
                .note('C5, E4', 'quarter');

            // Bar 12
            rightHand.note('D5, F4', 'quarter')
                .note('B4, D4', 'quarter')
                .rest('half');

            // Repeat back to Bar 5
            rightHand.repeat();

            leftHand.note('D5, F4', 'quarter')
                .note('B4, D4', 'quarter')
                .rest('half');

            // Repeat back to Bar 5
            leftHand.repeat();


            // Bar 13
            rightHand.rest('half')
                .note('G5, E5', 'quarter')
                .note('Gb5, Eb5', 'quarter');

            // Bar 14
            rightHand.note('F5, D5', 'quarter')
                .note('D#5, B4', 'quarter')
                .rest('quarter')
                .note('E5, C5', 'quarter');

            // Bar 15
            rightHand.rest('quarter')
                .note('G#4, E4', 'quarter')
                .note('A4, F4', 'quarter')
                .note('C5, A4', 'quarter');

            // Bar 16
            rightHand.rest('quarter')
                .note('A4, C3', 'quarter')
                .note('C5, E4', 'quarter')
                .note('D5, F4', 'quarter');

            // Bar 17
            rightHand.rest('half')
                .note('G5, E5', 'quarter')
                .note('Gb5, Eb5', 'quarter');

            // Bar 18
            rightHand.note('F5, D5', 'quarter')
                .note('D#5, B4', 'quarter')
                .rest('quarter')
                .note('E5, C5', 'quarter');

            // Bar 19
            rightHand.rest('quarter')
                .note('C6, G6, F6', 'quarter')
                .rest('quarter')
                .note('C6, G6, F6', 'quarter');

            // Bar 20
            rightHand.note('C6, G6, F6', 'quarter')
                .rest('half')
                .note('G5, E5', 'quarter')
                .note('Gb5, Eb5', 'quarter');

            // Bar 21
            rightHand.note('F5, D5', 'quarter')
                .note('D#5, B4', 'quarter')
                .rest('quarter')
                .note('E5, C5', 'quarter');

            // Bar 22
            rightHand.rest('quarter')
                .note('G#4, E4', 'quarter')
                .note('A4, F4', 'quarter')
                .note('C5, A4', 'quarter');

            // Bar 23
            rightHand.rest('quarter')
                .note('A4, C3', 'quarter')
                .note('C5, E4', 'quarter')
                .note('D5, F4', 'quarter');

            // Bar 24
            rightHand.rest('half')
                .note('Eb5, Ab4', 'quarter')
                .rest('quarter');

            // Bar 25
            rightHand.rest('quarter')
                .note('D5, F4', 'quarter')
                .rest('half');

            // Bar 26
            rightHand.note('C5, E4', 'quarter')
                .rest('quarter')
                .rest('half')
                .rest('whole');

            rightHand.finish();
            leftHand.finish();

            gameMusic.end();

            $scope.playing = $scope.paused = $scope.muted = false;
            $scope.volume = 100;

            gameMusic.onFinished(function() {
                $scope.$apply(function() {
                    $scope.playing = $scope.paused = $scope.muted = false;
                });
            });

            $scope.play = function() {
                $scope.playing = true;
                $scope.paused = false;
                gameMusic.play();
            };

            $scope.mute = function() {
                if ($scope.muted) {
                    gameMusic.unmute();
                } else {
                    gameMusic.mute();
                }
                $scope.muted = ! $scope.muted;
            };

            $scope.stop = function() {
                $scope.playing = $scope.paused = $scope.muted = false;
                gameMusic.stop();
            };

            $scope.pause = function() {
                $scope.paused = true;
                gameMusic.pause();
            };

            $scope.$watch('loop', function() {
                gameMusic.loop($scope.loop);
            });

            $scope.$watch('volume', function() {
                gameMusic.setMasterVolume($scope.volume / 100);
            });
        });
    </script>
</head>
<body ng-controller="AppController">
<h4><strong>Only works in latest chrome or safari!</strong></h4>
<button ng-show="! playing || paused" ng-click="play()">Play</button>
<button ng-show="! paused && playing" ng-click="pause()">Pause</button>
<button ng-show="playing" ng-click="stop()">Stop</button>
<button ng-show="playing" ng-click="mute()">{{ muted ? 'Unmute' : 'Mute' }}</button>
<label ng-show="playing"><input type="checkbox" ng-model="loop"> Loop?</label>
<br>
<input ng-disabled="muted" ng-show="playing" type="range" ng-model="volume">
</body>
</html>